$black: #3B434E;
$primary: #7653FC;
$primary-hover: #4421ce;
$red: #FC836D;
$green: #1DC47E;
$green-light: #C8F8E4;
$gray-light: #EBEBEB;
$gray-dark: #787D85;
$white: #fff;
$font-family: 'Noto Sans KR', sans-serif;